---
import ContactForm from "@/components/ContactForm.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import TextGradient from "@/components/ui/TextGradient.astro";
import Layout from "@/layouts/Layout.astro";
import { MessageSquareShare } from "lucide-react";
---

<Layout
  title="Contáctanos - Florencia Orquesta Band"
  description="Contáctanos para contratar la mejor música en vivo y eventos bailables. Florencia Orquesta Band está aquí para ayudarte a hacer de tu evento una experiencia inolvidable."
  ogImage="https://florenciaorquestaband.com/hero.png"
  keywords={`
    Contactar Florencia Orquesta Band,
    Contacto Orquesta Florencia Band,
    Contratar Florencia Orquesta Band,
    Cotización Florencia Orquesta Band,
    Información Florencia Orquesta Band,
    Contratar orquesta San Carlos,
    Cotización orquesta Alajuela,
    Contratar música en vivo Costa Rica,
    Reservar orquesta para evento,
    Teléfono Florencia Orquesta Band,
    Correo electrónico Florencia Orquesta Band,
    WhatsApp Florencia Orquesta Band,
    Formulario de contacto orquesta,
    Disponibilidad Florencia Orquesta Band,
    Preguntas frecuentes orquesta,
    Contratar banda para boda Costa Rica,
    Cotización música para fiesta San Carlos,
    Presupuesto orquesta evento corporativo,
    Hablar con la orquesta,
    Pedir cotización orquesta,
    Consultar disponibilidad banda musical,
    Hablar con Florencia Orquesta Band,
    Cómo contratar la orquesta,
    Solicitar información para evento,
    Enviar mensaje a Florencia Orquesta Band
  `}
>
  <section
    class="w-full py-20 bg-gradient-to-b from-zinc-900 to-black text-white"
  >
    <div class="container mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-serif text-center mb-12">
        <TextGradient isLong isAnimated>Contacto</TextGradient>
      </h1>

      <p class="text-center text-gray-400 mb-8 max-w-2xl mx-auto">
        Puedes contactar al <TextGradient>Director</TextGradient> de la Orquesta,
        el maestro <TextGradient>Julio Salas</TextGradient>, a través de su
        número de WhatsApp, o también, llenando el formulario y te responderemos
        lo más antes posible. Puedes cotizar tu evento con nosotros sin ningún
        compromiso, estaremos encantados de ayudarte.
      </p>

      <!-- Información de contacto -->
      <div class="text-center mb-12">
        <a
          href="https://wa.me/+50688487681"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-2 px-6 py-3 rounded-full bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-white text-lg font-medium shadow-lg hover:scale-105 transition-transform"
        >
          <MessageSquareShare className="w-5 h-5" />
          Julio Salas
        </a>
      </div>
      <ContactForm />
    </div>
  </section>
</Layout>
