---
import ContactForm from "@/components/ContactForm.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import TextGradient from "@/components/ui/TextGradient.astro";
import Layout from "@/layouts/Layout.astro";
import { MessageSquareShare } from "lucide-react";
---

<Layout>
  <section
    class="w-full py-20 bg-gradient-to-b from-zinc-900 to-black text-white"
  >
    <div class="container mx-auto px-4">
      <SectionTitle>Contáctanos</SectionTitle>

      <p class="text-center text-gray-400 mb-8 max-w-2xl mx-auto">
        Por el momento, únicamente puedes contactar al
        <TextGradient>Director</TextGradient> de la Orquesta, el maestro
        <TextGradient>Julio Salas</TextGradient>, a través de su número de
        WhatsApp. Puedes cotizar tu evento con nosotros sin ningún compromiso,
        estaremos encantados de ayudarte.
      </p>

      <!-- Información de contacto -->
      <div class="text-center mb-12">
        <a
          href="https://wa.me/+50688487681"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-2 px-6 py-3 rounded-full bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-white text-lg font-medium shadow-lg hover:scale-105 transition-transform"
        >
          <MessageSquareShare className="w-5 h-5" />
          Julio Salas
        </a>
      </div>
      <ContactForm />
    </div>
  </section>
</Layout>
