---
import Layout from "../layouts/Layout.astro";
import RepertoireSection from "@/sections/RepertoireSection.astro";
import ReviewsSection from "@/sections/Reviews.astro";
import Hero from "@/sections/Hero.astro";
import NextEvents from "@/sections/NextEvents.astro";
import Musicians from "@/sections/Musicians.astro";
---

<Layout>
	<main class="flex min-h-screen flex-col items-center justify-between">
		<Hero />
		<NextEvents />
		<Musicians />
		<RepertoireSection />
		<ReviewsSection />
	</main>
</Layout>
