---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import { RepertoireSection } from "@/sections/RepertoireSection.tsx";
import BandMemberCard from "@/components/BandMemberCard.astro";
import { EventCard } from "@/components/EventCard";

import { events, members } from "../data/data";
import { ReviewsSection } from "@/sections/Reviews";
import Hero from "@/sections/Hero.astro";
import NextEvents from "@/sections/NextEvents.astro";
import Musicians from "@/sections/Musicians.astro";
import Repertoire from "@/sections/Repertoire.astro";
---

<Layout>
	<main class="flex min-h-screen flex-col items-center justify-between">
		<Hero />
		<NextEvents />
		<Musicians />
		<!-- <Repertoire /> -->
		<!-- They are React components because needs the Carousel component -->
		<RepertoireSection client:visible />
		<ReviewsSection client:visible />
	</main>
</Layout>
