<footer class="w-full py-8 bg-black relative overflow-hidden">
  <div
    class="absolute inset-0 opacity-30 bg-[radial-gradient(ellipse_at_bottom,rgba(255,165,0,0.2),transparent_50%)]"
  >
  </div>
  <div class="container mx-auto text-center px-4 relative z-10">
    <p
      class="mb-4 text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-lg"
    >
      Contáctenos para elevar su evento al siguiente nivel
    </p>
    <div class="flex justify-center space-x-4 mb-4">
      <a
        href="https://www.facebook.com/FlorenciaOrquestaBand/"
        target="_blank"
        class="text-2xl text-gray-400 hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-yellow-400 hover:to-orange-500 transition-all duration-300"
      >
        Facebook
      </a>
      <a
        href="https://www.instagram.com/florenciaorquestaband/"
        target="_blank"
        class="text-2xl text-gray-400 hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-yellow-400 hover:to-orange-500 transition-all duration-300"
      >
        Instagram
      </a>
      <a
        href="https://wa.me/50688487681"
        target="_blank"
        class="text-2xl text-gray-400 hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-yellow-400 hover:to-orange-500 transition-all duration-300"
      >
        WhatsApp
      </a>
    </div>
    <p class="text-gray-600">
      &copy; 2025 Florencia Orquesta Band. Todos los derechos reservados.
    </p>
  </div>
</footer>
