---
import { events } from "@/data/data";
import { EventCard } from "../components/EventCard";
import SectionTitle from "@/components/ui/SectionTitle.astro";
---

<section
  class="w-full py-20 bg-gradient-to-b from-zinc-900 to-black relative overflow-hidden"
>
  <div class="container mx-auto px-4 relative z-10">
    <SectionTitle>Próximos Eventos</SectionTitle>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        events
          .filter((event) => {
            const eventDate = new Date(event.date);

            // 6 meses de antiguedad y todos los del futuro
            const sixMonthsAgo = new Date();
            sixMonthsAgo.setMonth(sixMonthsAgo.getMonth() - 6);

            return eventDate >= sixMonthsAgo;
          })
          .map((event) => (
            <a href={`/evento/${event.name.replace(/\s+/g, "-")}`}>
              <EventCard client:visible {...event} />
            </a>
          ))
      }
    </div>
  </div>
</section>
