---
import { ReviewsCarousel } from "@/components/ReviewsCarousel";
import SectionTitle from "@/components/ui/SectionTitle.astro";
---

<section
  class="w-full py-20 bg-gradient-to-b from-black to-zinc-900 relative overflow-hidden"
>
  <div
    class="absolute inset-0 opacity-20 bg-[radial-gradient(ellipse_at_center,rgba(255,165,0,0.2),transparent_50%)]"
  >
  </div>
  <div class="container mx-auto px-4 relative z-10">
    <SectionTitle>Lo Que Dicen Nuestros Clientes</SectionTitle>
    <ReviewsCarousel client:visible />
  </div>
</section>
